@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  margin:0px;
  padding:0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
  

}
/* Barre de navigation */
nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #efdee7;
  position: sticky;
  top: 0;
}
nav h1{
  font-size: 35px;
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
}
nav .onglets p{
  font-size: 17px;
  margin-right: 10px;
  cursor:pointer;
}
nav .onglets input{
  margin: 8px 25px;
  padding: 15px;
  border-radius: 30px;
  border:none;
  background-color: #f2f2f2;
  outline:none;
}
/* Fin de la barre de navigation */

/* Header */
header{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
header h1{
  font-size: 50px;
  max-width: 500px;
  text-align:center;
}
header button{
  padding: 15px 20px;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  outline:none;
  cursor:pointer;
}

/* Fin du header */

/* Section principale */
.main{
    display: flex;
    justify-content:center;
    flex-direction: columns;
    align-items: center;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
  }
form {
    margin-top: 20px;
    background-color: #fff;
    padding: 80px 120px;
    border-radius: 10px;
    min-width: 300px;
  }
  form h2{
    color: #eb7371;
    text-align:center;
  }
  form .social-media{
    margin-top: -10px;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
  }
  form .social-media p{
    padding: 5px;
    width: 20px;
    margin-left: 10px;
    border-radius: 100%;
    border: 1px solid #545454;
    text-align: center;
    cursor:pointer;
    color: #545454;
  }
  form p.choose-email{
    text-align:center;
  }
  form .inputs {
    display: flex;
    flex-direction: column;
  }
  form .inputs input[type='email'], input[type='password']{
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color:#f2f2f2;
    outline:none;
    margin-bottom: 15px;
  }
  form p.inscription{
    font-size: 14px;
    margin-bottom: 20px;
    color: #878787;
  }
  form p.inscription span{
    color: #eb7371;
  }
  form button{
    padding: 15px 25px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: #fff;
    background-color: #eb7371;
    outline:none;
    cursor:pointer;
  }
  

/* Fin de la section principale */

/* Pied de page */
footer {
  margin-top: 100px;
  background-color: #efdee7;
  padding: 30px;
  color: rgb(17, 16, 16);
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
footer .social-media{
  display: flex;
}
footer .social-media p{
  margin-right: 15px;
  border: 1px solid rgb(9, 9, 9);
  border-radius: 100%;
  padding: 5px;
  text-align:center;
  width: 20px;
  cursor:pointer;
}
/* Fin du pied de page */


